{# templates/emails/registration.html.twig #}
<h3>Reserva</h3>

<p>El cliente <strong>{{name}}</strong> solicita reservar con {{pax}} personas para la fecha {{date|date('d/M/Y')}} el tour {{tour}}.</p>
<p> Otra informacion {{other}}</p>

