{% extends 'base.html.twig' %}
{% block body %}
 <!--
    blog start
    ============================ -->
    <section id="blog" style="background: url({{asset('images/beyondTheCapital/blog-bg.jpg')}}); ">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <h1 class="heading transparence-title" >BEYOND <span> THE CAPITAL</span>  <span></span></h1><br/>
                          <h4 class="white_text title wow fadeInLeft transparence-title" data-wow-duration="500ms" data-wow-delay="300ms" style="text-align:justify;">Havana 500th Anniversary is coming soon and this city holds a real fascination for those planning to visit our country, no faded glory in this city, past and present are the perfect combination and this fine cocktail is part of its appeal for travelers. </h4>


                        <ul class="col-md-12">
                            <li class="wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="300ms">
                                <div class="blog-img">
                                    <a class="btn btn-img" href="{{path('trinidad')}}" role="button"> <img src="{{asset('images/beyondTheCapital/blog-img-1.jpg')}}" alt="blog-img"></a>
                                </div>
                                <div class="content-right">
                                    <h3>“Cienfuegos-Trinidad” </h3>
                                    <p>
                                        <a class="btn btn-default orange wow bounceIn" data-wow-duration="500ms" data-wow-delay="300ms" href="{{path('trinidad')}}" role="button">More Info</a>
                                    </p>
                                </div>
                            </li>
                            <li class="wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="400ms">
                                <div class="blog-img">
                                   <a class="btn btn-img"  href="{{path('viñales')}}" role="button"><img src="{{asset('images/beyondTheCapital/blog-img-2.jpg')}}" alt="blog-img"></a>
                                </div>
                                <div class="content-right">
                                    <h3>“Viñales” </h3>
                                    <p>
                                        <a class="btn btn-default orange  wow bounceIn" data-wow-duration="500ms" data-wow-delay="300ms" href="{{path('viñales')}}" role="button">More Info</a>
                                    </p>
                                </div>
                            </li>
                            <li class="wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="500ms">
                                <div class="blog-img">
                                   <a class="btn btn-img"  href="{{path('zapata')}}" role="button"><img src="{{asset('images/beyondTheCapital/blog-img-3.jpg')}}" alt="blog-img"></a>
                                </div>
                                <div class="content-right">
                                    <h3>“Bay of Pigs”</h3>
                                    <p>
                                        <a class="btn btn-default orange  wow bounceIn" data-wow-duration="500ms" data-wow-delay="300ms" href="{{path('zapata')}}" role="button">More Info</a>
                                    </p>
                                </div>
                            </li>
                            <li class="wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="600ms">
                                <div class="blog-img">
                                  <a class="btn btn-img"   href="{{path('varadero')}}" role="button"> <img src="{{asset('images/beyondTheCapital/blog-img-4.jpg')}}" alt="blog-img"></a>
                                </div>
                                <div class="content-right">
                                    <h3>“Varadero & more”</h3>
                                    <p>
                                        <a class="btn btn-default orange  wow bounceIn" data-wow-duration="500ms" data-wow-delay="300ms" href="{{path('varadero')}}" role="button">More Info</a>
                                    </p>
                                </div>
                            </li>
                          
                        </ul>
                    </div>
                </div><!-- .col-md-12 close -->
            </div><!-- .row close -->
        </div><!-- .containe close -->
    </section><!-- #blog close -->
{% endblock %}