{% extends 'base.html.twig' %}
{% block body %}
 
    <!--
    blog start
    ============================ -->
    <section id="blog" style="background: url({{asset('images/beyondTheCapital/trinidad/blog-bg.jpg')}}); ">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="heading transparence-title seccionTitle">“Cienfuegos <span>-Trinidad” </span> <p class="white_text caption-subTitles" style="font-size: 20px!important"> Exploring the best of Central Cuba.</p>  <span></span></h1>
             
                    <!--
                    Slider start
                    ============================== -->
                    <section id="slider">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="block wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">

                                        <div id="owl-example" class="owl-carousel">
                                            <div>
                                                <img class="img-responsive" src="{{asset('images/beyondTheCapital/trinidad/slider/slider-img-1.jpg')}}" alt="">
                                            </div>
                                            <div>
                                                <img class="img-responsive" src="{{asset('images/beyondTheCapital/trinidad/slider/slider-img-2.jpg')}}" alt="">
                                            </div>
                                            <div>
                                                <img class="img-responsive" src="{{asset('images/beyondTheCapital/trinidad/slider/slider-img-3.jpg')}}" alt="">
                                            </div>
                                            <div>
                                                <img class="img-responsive" src="{{asset('images/beyondTheCapital/trinidad/slider/slider-img-4.jpg')}}" alt="">
                                            </div>
                                            <div>
                                                <img class="img-responsive" src="{{asset('images/beyondTheCapital/trinidad/slider/slider-img-5.jpg')}}" alt="">
                                            </div>
                                            <div>
                                                <img class="img-responsive" src="{{asset('images/beyondTheCapital/trinidad/slider/slider-img-6.jpg')}}" alt="">
                                            </div>
                                            <div>
                                                <img class="img-responsive" src="{{asset('images/beyondTheCapital/trinidad/slider/slider-img-7.jpg')}}" alt="">
                                            </div>
                                            <div>
                                                <img class="img-responsive" src="{{asset('images/beyondTheCapital/trinidad/slider/slider-img-8.jpg')}}" alt="">
                                            </div>
                                            <div>
                                                <img class="img-responsive" src="{{asset('images/beyondTheCapital/trinidad/slider/slider-img-9.jpg')}}" alt="">
                                            </div>
                                            <div>
                                                <img class="img-responsive" src="{{asset('images/beyondTheCapital/trinidad/slider/slider-img-10.jpg')}}" alt="">
                                            </div>
                                            <div>
                                                <img class="img-responsive" src="{{asset('images/beyondTheCapital/trinidad/slider/slider-img-11.jpg')}}" alt="">
                                            </div>
                                            <div>
                                                <img class="img-responsive" src="{{asset('images/beyondTheCapital/trinidad/slider/slider-img-12.jpg')}}" alt="">
                                            </div>
                                            <div>
                                                <img class="img-responsive" src="{{asset('images/beyondTheCapital/trinidad/slider/slider-img-13.jpg')}}" alt="">
                                            </div>
                                            <div>
                                                <img class="img-responsive" src="{{asset('images/beyondTheCapital/trinidad/slider/slider-img-14.jpg')}}" alt="">
                                            </div>
                                            <div>
                                                <img class="img-responsive" src="{{asset('images/beyondTheCapital/trinidad/slider/slider-img-15.jpg')}}" alt="">
                                            </div>
                                   

                                        </div>
                                    </div>
                                </div><!-- .col-md-12 close -->
                            </div><!-- .row close -->
                        </div><!-- .container close -->
                    </section><!-- slider close -->

                    <div class="pricing-list white_text">

                        <ul>

                            <li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
                                <div class="item">
                                    <div class="item-title" style="text-align:justify;">
                                        <h4>• Pick up recommended at 7:00am.</h4>
                                        <div class="border-bottom"></div>
                                        <!-- <span>Day 1</span>-->
                                    </div>
                                    <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim&&</p>-->
                                </div>
                            </li>
                            </br>
                            <li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
                                <div class="item">
                                    <div class="item-title" style="text-align:justify;">
                                        <h4>•	Ride departing from Havana takes approximately three and a half hours to our first destination known as Pearl of Caribbean (Cienfuegos). We´ll be driving heading Central Cuba using National Motorway and we´ll be able to enjoy of a rural landscape that includes small towns, plains, valleys and some plantations of sugar cane and tropical fruits like papayas, pineapple, bananas and citrus fruits.</h4>
                                        <div class="border-bottom"></div>
                                    </div>
                                </div>
                            </li>
                            </br>
                            <li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
                                <div class="item">
                                    <div class="item-title" style="text-align:justify;">
                                        <h4>•	Stop and walk around the main square of Cienfuegos and surroundings. Landmarks in the area: Martí Square, Tomas Terry Theater, Catedral de la Purísima Concepción, former City Hall, City Boulevard and Cruise terminal.</h4>
                                        <div class="border-bottom"></div>
                                    </div>
                                </div>
                            </li>
                            </br>
                            <li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
                                <div class="item">
                                    <div class="item-title" style="text-align:justify;">
                                        <h4>•	Enjoying of a ride along the malecon in town, we´ll reach and stop at Palacio de Valle located in Punta Gorda, this building is a gem of the architecture of Cienfuegos.</h4>
                                        <div class="border-bottom"></div>
                                    </div>
                                </div>
                            </li>
                            </br>
                            <li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
                                <div class="item">
                                    <div class="item-title" style="text-align:justify;">
                                        <h4>•	Another hour drive and we´ll arrive to Trinidad always enjoying of a breathtaking ride that combines green of the largest mountain range in Central Cuba and blue of Caribbean Sea.</h4>
                                        <div class="border-bottom"></div>
                                    </div>
                                </div>
                            </li>
                            </br>
                            <li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
                                <div class="item">
                                    <div class="item-title" style="text-align:justify;">
                                        <h4>•	Suggested lunch break in Trinidad.</h4>
                                        <div class="border-bottom"></div>
                                    </div>
                                </div>
                            </li>
                            </br>
                            <li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
                                <div class="item">
                                    <div class="item-title" style="text-align:justify;">
                                        <h4>•	Experience the heart of Trinidad touring around main square Plaza Mayor and sites of interest like Catedral de la Santísima Trinidad, local museums former private residences of the richest families like Brunet, Iznaga and Cantero, all linked to sugar production in the area. </h4>
                                        <div class="border-bottom"></div>
                                    </div>
                                </div>
                            </li>
                            </br>
                            <li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
                                <div class="item">
                                    <div class="item-title" style="text-align:justify;">
                                        <h4>•	Highly recommended to stop at a local family´s house and not miss the local drink “Canchanchara”.</h4>
                                        <div class="border-bottom"></div>
                                    </div>
                                </div>
                            </li>
                            </br>
                            <li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
                                <div class="item">
                                    <div class="item-title" style="text-align: justify;">
                                        <h4>•	Optional visit to different museums (admission fee varies depending on your choice)</h4>
                                        <div class="border-bottom"></div>
                                    </div>
                                </div>
                            </li>
                            </br>
                            <li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
                                <div class="item">
                                    <div class="item-title" style="text-align: justify;">
                                        <h4>• Free time at the local flea market. Trinidad has been declared by Unesco "World Artisanal City"</h4>
                                        <div class="border-bottom"></div>
                                    </div>
                                </div>
                            </li>
                            </br>
                            <li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
                                <div class="item">
                                    <div class="item-title" style="text-align:justify;">
                                        <h4>•	Drive back to Havana.</h4>
                                        <div class="border-bottom"></div>
                                    </div>
                                </div>
                            </li>

                        </ul>
                       
                    </div>
                </div>
            </div><!-- .col-md-12 close -->
        </div><!-- .row close -->

    </section><!-- #blog close -->
 <!--
CONTACT US  start
============================= -->
<section id="contact-us">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1 class="heading wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">CONTACT<span style=""> US</span></h1>
                    <!--  <h4 class="title wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">Sign Up for <span>Email Alerts</span> </h4>-->
                    {{ form_start(form,{'action': path('book'), 'method': 'POST'}) }}
                    <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="500ms">                        
                        {{ form_widget(form.tour, {'attr': {'class': 'form-control hidden',}, 'value':'Cienfuegos-Trinidad'}) }}
                    </div>
                    <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="600ms">
                        {{ form_widget(form.fullName, {'attr': {'class': 'form-control','placeholder':'Full Name'}}) }}
                    </div>
                    <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="800ms">
                        {{ form_widget(form.email, {'attr': {'class': 'form-control','placeholder':'Email Address'}}) }}
                    </div>
                    <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="600ms">
                        {{ form_widget(form.pax, {'attr': {'class': 'form-control','placeholder':'Number of People'}}) }}
                    </div>
                    <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="800ms">
                        {{ form_widget(form.date, {'attr': {'class': 'form-control','placeholder':'Request Date'}}) }}
                    </div>
                    <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="1000ms">
                        {{ form_widget(form.additionalRequest, {'attr': {'class': 'form-control','rows': '3','placeholder':'Additional Requests'}}) }}
                    </div>
                    <input type='submit' class="btn btn-default wow bounceIn btn-submit text-center" data-wow-duration="500ms" data-wow-delay="1300ms" value="Send Now" />
                    {{ form_end(form) }}
                </div>
            </div><!-- .col-md-12 close -->
        </div><!-- .row close -->
    </div><!-- .container close -->
</section><!-- #contact-us close -->
{% endblock %}