{% extends 'base.html.twig' %}
{% block body %}
 
    <!--
    blog start
    ============================ -->
    <section id="blog" style="background: url({{asset('images/beyondTheCapital/varadero/blog-bg.jpg')}}); ">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="heading transparence-title"> <span>“Varadero & more” </span>  <span></span></h1>
                 
                   
                    <!--
                    Slider start
                    ============================== -->
                    <section id="slider">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="block wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">

                                        <div id="owl-example" class="owl-carousel">
                                            <div>
                                                <img class="img-responsive" src="{{asset('images/beyondTheCapital/varadero/slider/slider-img-1.jpg')}}" alt="">
                                            </div>
                                            <div>
                                                <img class="img-responsive" src="{{asset('images/beyondTheCapital/varadero/slider/slider-img-2.jpg')}}" alt="">
                                            </div>
                                            <div>
                                                <img class="img-responsive" src="{{asset('images/beyondTheCapital/varadero/slider/slider-img-3.jpg')}}" alt="">
                                            </div>
                                            <div>
                                                <img class="img-responsive" src="{{asset('images/beyondTheCapital/varadero/slider/slider-img-4.jpg')}}" alt="">
                                            </div>
                                            <div>
                                                <img class="img-responsive" src="{{asset('images/beyondTheCapital/varadero/slider/slider-img-5.jpg')}}" alt="">
                                            </div>
                                            <div>
                                                <img class="img-responsive" src="{{asset('images/beyondTheCapital/varadero/slider/slider-img-6.jpg')}}" alt="">
                                            </div>
                                            <div>
                                                <img class="img-responsive" src="{{asset('images/beyondTheCapital/varadero/slider/slider-img-7.jpg')}}" alt="">
                                            </div>
                                            <div>
                                                <img class="img-responsive" src="{{asset('images/beyondTheCapital/varadero/slider/slider-img-8.jpg')}}" alt="">
                                            </div>
                                            <div>
                                                <img class="img-responsive" src="{{asset('images/beyondTheCapital/varadero/slider/slider-img-9.jpg')}}" alt="">
                                            </div>
                                            <div>
                                                <img class="img-responsive" src="{{asset('images/beyondTheCapital/varadero/slider/slider-img-10.jpg')}}" alt="">
                                            </div>
                                            <div>
                                                <img class="img-responsive" src="{{asset('images/beyondTheCapital/varadero/slider/slider-img-11.jpg')}}" alt="">
                                            </div>
                                            <div>
                                                <img class="img-responsive" src="{{asset('images/beyondTheCapital/varadero/slider/slider-img-12.jpg')}}" alt="">
                                            </div>
                                            <div>
                                                <img class="img-responsive" src="{{asset('images/beyondTheCapital/varadero/slider/slider-img-13.jpg')}}" alt="">
                                            </div>
                                            <div>
                                                <img class="img-responsive" src="{{asset('images/beyondTheCapital/varadero/slider/slider-img-14.jpg')}}" alt="">
                                            </div>
                                            <div>
                                                <img class="img-responsive" src="{{asset('images/beyondTheCapital/varadero/slider/slider-img-15.jpg')}}" alt="">
                                            </div>
                                            <div>
                                                <img class="img-responsive" src="{{asset('images/beyondTheCapital/varadero/slider/slider-img-16.jpg')}}" alt="">
                                            </div>
                                            <div>
                                                <img class="img-responsive" src="{{asset('images/beyondTheCapital/varadero/slider/slider-img-17.jpg')}}" alt="">
                                            </div>
                                            <div>
                                                <img class="img-responsive" src="{{asset('images/beyondTheCapital/varadero/slider/slider-img-18.jpg')}}" alt="">
                                            </div>

                                            <div>
                                                <img class="img-responsive" src="{{asset('images/beyondTheCapital/varadero/slider/slider-img-19.jpg')}}" alt="">
                                            </div>
                                         
                                        </div>
                                    </div>
                                </div><!-- .col-md-12 close -->
                            </div><!-- .row close -->
                        </div><!-- .container close -->
                    </section><!-- slider close -->

                    <div class="pricing-list white_text">

                        <ul>

                            <li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
                                <div class="item">
                                    <div class="item-title" style="text-align:justify;">
                                        <h3>•	Pick up time is recommended at 8:00 am.</h3>
                                        <div class="border-bottom"></div>
                                        <!-- <span>Day 1</span>-->
                                    </div>
                                    <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim&&</p>-->
                                </div>
                            </li>
                            </br>
                            <li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="400ms">
                                <div class="item">
                                    <div class="item-title" style="text-align:justify;">
                                        <h3>•	Ride from Havana takes about one and a half hour.</h3>
                                        <div class="border-bottom"></div>
                                    </div>
                                </div>
                            </li>
                            </br>
                            <li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="500ms">
                                <div class="item">
                                    <div class="item-title" style="text-align:justify;">
                                        <h3>•	Visit to Bellamar Caves. With huge and capricious limestone formations this cave was the first touristic attraction of Cuba, discovered by chance in 1861. Admission fee is 5.00 CUC/person and photo camera admission is 5.00 CUC.</h3>
                                        <div class="border-bottom"></div>
                                    </div>
                                </div>
                            </li>
                            </br>
                            <li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="600ms">
                                <div class="item">
                                    <div class="item-title" style="text-align:justify;">
                                        <h3>•	Visit landmarks of Matanzas city: Plaza de la Vigía, Parque de la Libertad, Teatro Sauto, Museo Farmaceutico, City´s Boulevard and stop at  Monserrate’s Hermitage located on a hill where you can enjoy of Valle del Yumuri and overview the city.</h3>
                                        <div class="border-bottom"></div>
                                    </div>
                                </div>
                            </li>
                            </br>
                            <li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="700ms">
                                <div class="item">
                                    <div class="item-title" style="text-align:justify;">
                                        <h3>•	Visit to Saturno Cave, an underground natural pool for swimming and snorkeling. Admission fee is 6.00 CUC/person, includes snorkeling gear.</h3>
                                        <div class="border-bottom"></div>
                                    </div>
                                </div>
                            </li>
                            </br>
                            <li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="800ms">
                                <div class="item">
                                    <div class="item-title" style="text-align:justify;">
                                        <h3>•	Lunch break to be decided in Matanzas or Varadero as you prefer.</h3>
                                        <div class="border-bottom"></div>
                                    </div>
                                </div>
                            </li>
                            </br>
                            <li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="900ms">
                                <div class="item">
                                    <div class="item-title" style="text-align:justify;">
                                        <h3>•	Drive to Varadero to enjoy beach time.</h3>
                                        <div class="border-bottom"></div>
                                    </div>
                                </div>
                            </li>
                            </br>
                            <li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="1000ms">
                                <div class="item">
                                    <div class="item-title" style="text-align:justify;">
                                        <h3>•	Drive back to Havana. </h3>
                                        <div class="border-bottom"></div>
                                    </div>
                                </div>
                            </li>



                        </ul>
                        </br>
                        <a class="btn btn-default pull-right orange wow bounceIn" data-wow-duration="500ms" data-wow-delay="1100ms" href="#" role="button">More Info</a>
                    </div>
                </div>
            </div><!-- .col-md-12 close -->
        </div><!-- .row close -->

    </section><!-- #blog close -->
 
{% endblock %}