{% extends 'base.html.twig' %}
{% block body %}
 
    <!--
    blog start
    ============================ -->
    <section id="blog" style="background: url({{asset('images/beyondTheCapital/vinales/blog-bg.jpg')}}); ">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="heading transparence-title seccionTitle"> <span>“Viñales” </span> <p class="white_text caption-subTitles" style="font-size: 20px!important">Tobacco & Nature.</p>  <span></span></h1>
               
                   
                    <!--
                    Slider start
                    ============================== -->
                    <section id="slider">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="block wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">

                                        <div id="owl-example" class="owl-carousel">
                                            <div>
                                                <img class="img-responsive" src="{{asset('images/beyondTheCapital/vinales/slider/slider-img-1.jpg')}}" alt="">
                                            </div>
                                            <div>
                                                <img class="img-responsive" src="{{asset('images/beyondTheCapital/vinales/slider/slider-img-2.jpg')}}" alt="">
                                            </div>
                                            <div>
                                                <img class="img-responsive" src="{{asset('images/beyondTheCapital/vinales/slider/slider-img-3.jpg')}}" alt="">
                                            </div>
                                            <div>
                                                <img class="img-responsive" src="{{asset('images/beyondTheCapital/vinales/slider/slider-img-4.jpg')}}" alt="">
                                            </div>
                                            <div>
                                                <img class="img-responsive" src="{{asset('images/beyondTheCapital/vinales/slider/slider-img-5.jpg')}}" alt="">
                                            </div>
                                            <div>
                                                <img class="img-responsive" src="{{asset('images/beyondTheCapital/vinales/slider/slider-img-6.jpg')}}" alt="">
                                            </div>
                                            <div>
                                                <img class="img-responsive" src="{{asset('images/beyondTheCapital/vinales/slider/slider-img-7.jpg')}}" alt="">
                                            </div>
                                            <div>
                                                <img class="img-responsive" src="{{asset('images/beyondTheCapital/vinales/slider/slider-img-8.jpg')}}" alt="">
                                            </div>
                                            <div>
                                                <img class="img-responsive" src="{{asset('images/beyondTheCapital/vinales/slider/slider-img-9.jpg')}}" alt="">
                                            </div>
                                            <div>
                                                <img class="img-responsive" src="{{asset('images/beyondTheCapital/vinales/slider/slider-img-10.jpg')}}" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- .col-md-12 close -->
                            </div><!-- .row close -->
                        </div><!-- .container close -->
                    </section><!-- slider close -->

                    <div class="pricing-list white_text">

                        <ul>

                            <li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
                                <div class="item">
                                    <div class="item-title" style="text-align:justify;">
                                        <h4>•	Pick up recommended at 7:30 am.</h4>
                                        <div class="border-bottom"></div>
                                        <!-- <span>Day 1</span>-->
                                    </div>
                                    <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim&&</p>-->
                                </div>
                            </li>
                            </br>
                            <li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
                                <div class="item">
                                    <div class="item-title" style="text-align:justify;">
                                        <h4>•	Ride to Viñales town takes about two and a half hours from Havana.</h4>
                                        <div class="border-bottom"></div>
                                    </div>
                                </div>
                            </li>
                            </br>
                            <li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
                                <div class="item">
                                    <div class="item-title" style="text-align:justify;">
                                        <h4>•	Stop at Hotel Los Jasmines to enjoy from this viewpoint the unique landscape of Viñales Valley and its mogotes declared by UNESCO ¨World Landscape?</h4>
                                        <div class="border-bottom"></div>
                                    </div>
                                </div>
                            </li>
                            </br>
                            <li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
                                <div class="item">
                                    <div class="item-title" style="text-align:justify;">
                                        <h4>•	Visit to Cueva del Indio enjoy of a walk and a boat ride along a river that flows inside the cave. Admission fee 5.00 CUC/person.</h4>
                                        <div class="border-bottom"></div>
                                    </div>
                                </div>
                            </li>
                            </br>
                            <li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
                                <div class="item">
                                    <div class="item-title" style="text-align:justify;">
                                        <h4>•	 Visit to El Palenque de los Cimarrones, former shelter for cimarrones (runaway slaves). Admission fee is 3.00 CUC/person, if you feel like returning to the main entrance enjoying of a horsing carriage, then is 4.00 CUC/person. </h4>
                                        <div class="border-bottom"></div>
                                    </div>
                                </div>
                            </li>
                            </br>
                            <li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
                                <div class="item">
                                    <div class="item-title" style="text-align:justify;">
                                        <h4>•	Visit to a tobacco farm to put you closer to the local tradition of growing the best black tobacco in the world and witness how a cigar is hand rolled by the farmer.</h4>
                                        <div class="border-bottom"></div>
                                    </div>
                                </div>
                            </li>
                            </br>
                            <li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
                                <div class="item">
                                    <div class="item-title" style="text-align:justify;">
                                        <h4>•	Lunch break. Highly recommended options of local cuisine.</h4>
                                        <div class="border-bottom"></div>
                                    </div>
                                </div>
                            </li>
                            </br>
                            <li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
                                <div class="item">
                                    <div class="item-title" style="text-align:justify;">
                                        <h4>•	Mingle with locals, shop, have a drink and enjoy of free time to explore a bit of the small town of Viñales. </h4>
                                        <div class="border-bottom"></div>
                                    </div>
                                </div>
                            </li>
                            </br>
                            <li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
                                <div class="item">
                                    <div class="item-title" style="text-align: justify;">
                                        <h4>•	Visit to Mural de la Prehistoria where on the face of a mogote a Cuban painter recreated the history of evolution in a very peculiar way. Admission 3.00 CUC/person and includes one drink.</h4>
                                        <div class="border-bottom"></div>
                                    </div>
                                </div>
                            </li>
                            </br>
                            <li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
                                <div class="item">
                                    <div class="item-title" style="text-align: justify;">
                                        <h4>•	Drive back to accommodation.</h4>
                                        <div class="border-bottom"></div>
                                    </div>
                                </div>
                            </li>


                        </ul>
                       
                    </div>
                </div>
            </div><!-- .col-md-12 close -->
        </div><!-- .row close -->

    </section><!-- #blog close -->
<!--
maps start
============================== -->
<section id="about-us">
    <div class="container">
        <div class="row">
                <div class="block">
                     <div class="col-md-12 text-center">
                   <iframe class="googleMaps" src="https://www.google.com/maps/d/u/0/embed?mid=1d9UygHiozeI6rCWbvbhFkV7kE3YnMunh"></iframe>
                </div>
                </div>
        </div><!-- .row close -->
    </div><!-- .containe close -->
</section><!-- #call-to-action close -->
 <!--
CONTACT US  start
============================= -->
<section id="contact-us">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                       <h1 class="heading wow fadeInUp seccionTitle" data-wow-duration="500ms" data-wow-delay="300ms">CONTACT<span style=""> US</span></h1>
                    <!--  <h4 class="title wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">Sign Up for <span>Email Alerts</span> </h4>-->
                    {{ form_start(form,{'action': path('book'), 'method': 'POST'}) }}
                    <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="500ms">                        
                        {{ form_widget(form.tour, {'attr': {'class': 'form-control hidden',}, 'value':'Viñales'}) }}
                    </div>
                    <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="600ms">
                        {{ form_widget(form.fullName, {'attr': {'class': 'form-control','placeholder':'Full Name'}}) }}
                    </div>
                    <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="800ms">
                        {{ form_widget(form.email, {'attr': {'class': 'form-control','placeholder':'Email Address'}}) }}
                    </div>
                    <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="600ms">
                        {{ form_widget(form.pax, {'attr': {'class': 'form-control','placeholder':'Number of People'}}) }}
                    </div>
                    <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="800ms">
                        {{ form_widget(form.date, {'attr': {'class': 'form-control','placeholder':'Request Date'}}) }}
                    </div>
                    <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="1000ms">
                        {{ form_widget(form.additionalRequest, {'attr': {'class': 'form-control','rows': '3','placeholder':'Additional Requests'}}) }}
                    </div>
                    <div class="g-recaptcha" data-sitekey="6Ldq7I0UAAAAAMqzGIpRI5ZgmKiP_9usBvibEXPP" data-callback="enableBtn"></div>
                    <input type='submit' class="btn btn-default wow bounceIn btn-submit text-center" data-wow-duration="500ms" data-wow-delay="1300ms" value="Send Now" />
                    {{ form_end(form) }}
                </div>
            </div><!-- .col-md-12 close -->
        </div><!-- .row close -->
    </div><!-- .container close -->
</section><!-- #contact-us close -->
{% endblock %}
{% block scripts %}
<script>
    $(document).ready(function () {
        $('.btn-submit').addClass('disabled');
    });
    function enableBtn(){
        $('.btn-submit').removeClass('disabled');
    }
</script>
    {% endblock %}