{% extends 'base.html.twig' %}
{% block body %}
 
    <!--
    blog start
    ============================ -->
    <section id="blog" style="background: url({{asset('images/beyondTheCapital/zapata/blog-bg.jpg')}}); ">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="heading transparence-title seccionTitle"> “Bay<span> of Pigs” </span> <p class="white_text caption-subTitles" style="font-size: 20px!important"> History & Nature.</p>  <span></span></h1>
                  
                   
                    <!--
                    Slider start
                    ============================== -->
                    <section id="slider">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="block wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">

                                        <div id="owl-example" class="owl-carousel">
                                            <div>
                                                <img class="img-responsive" src="{{asset('images/beyondTheCapital/zapata/slider/slider-img-1.jpg')}}" alt="">
                                            </div>
                                            <div>
                                                <img class="img-responsive" src="{{asset('images/beyondTheCapital/zapata/slider/slider-img-2.jpg')}}" alt="">
                                            </div>
                                            <div>
                                                <img class="img-responsive" src="{{asset('images/beyondTheCapital/zapata/slider/slider-img-3.jpg')}}" alt="">
                                            </div>
                                            <div>
                                                <img class="img-responsive" src="{{asset('images/beyondTheCapital/zapata/slider/slider-img-4.jpg')}}" alt="">
                                            </div>
                                            <div>
                                                <img class="img-responsive" src="{{asset('images/beyondTheCapital/zapata/slider/slider-img-5.jpg')}}" alt="">
                                            </div>
                                            <div>
                                                <img class="img-responsive" src="{{asset('images/beyondTheCapital/zapata/slider/slider-img-6.jpg')}}" alt="">
                                            </div>
                                            <div>
                                                <img class="img-responsive" src="{{asset('images/beyondTheCapital/zapata/slider/slider-img-7.jpg')}}" alt="">
                                            </div>
                                            <div>
                                                <img class="img-responsive" src="{{asset('images/beyondTheCapital/zapata/slider/slider-img-8.jpg')}}" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- .col-md-12 close -->
                            </div><!-- .row close -->
                        </div><!-- .container close -->
                    </section><!-- slider close -->

                    <div class="pricing-list white_text ">

                        <ul>

                            <li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
                                <div class="item">
                                    <div class="item-title" style="text-align:justify;">
                                        <h4>•	Pick up time recommended at 7:30am.</h4>
                                        <div class="border-bottom"></div>
                                        <!-- <span>Day 1</span>-->
                                    </div>
                                    <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim&&</p>-->
                                </div>
                            </li>
                            </br>
                            <li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
                                <div class="item">
                                    <div class="item-title " style="text-align:justify;">
                                        <h4>•	Visit Museo de la Comandancia, an insight to a crucial moment in Cuban History: Bay of Pigs Invasion. Admission fee: 1.00CUC/person and 1.00CUC for camera admission.</h4>
                                        <div class="border-bottom"></div>
                                    </div>
                                </div>
                            </li>
                            </br>
                            <li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
                                <div class="item">
                                    <div class="item-title" style="text-align:justify;">
                                        <h4>•	Ride to Gran Parque Nacional Cienaga de Zapata in Matanzas province takes about two and a half hours.</h4>
                                        <div class="border-bottom"></div>
                                    </div>
                                </div>
                            </li>
                            </br>
                            <li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
                                <div class="item">
                                    <div class="item-title" style="text-align:justify;">
                                        <h4>•	Optional visit to Guamá enjoying of a ride on a speed boat. This is a touristic attraction and holiday village in the Treasure Lake that recreates a Taino village, Pre-Columbian Cuban tribe. Admission fee: 12.00 CUC/person. </h4>
                                        <div class="border-bottom"></div>
                                    </div>
                                </div>
                            </li>
                            </br>
                            <li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
                                <div class="item">
                                    <div class="item-title" style="text-align:justify;">
                                        <h4>Optional visit to Crocodile breeding farm. Admission fee: 5.00 CUC/person.</h4>
                                        <div class="border-bottom"></div>
                                    </div>
                                </div>
                            </li>
                            </br>
                            <li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
                                <div class="item">
                                    <div class="item-title" style="text-align:justify;">
                                        <h4>•	Lunch break. Highly recommended options of local cuisine.</h4>
                                        <div class="border-bottom"></div>
                                    </div>
                                </div>
                            </li>
                            </br>
                            <li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
                                <div class="item">
                                    <div class="item-title" style="text-align:justify;">
                                        <h4>•	Stop at the Fish Cave, a natural pool (cenote) of crystalline water where you can enjoy of scuba diving and snorkeling there and at a beach in Bay of Pigs, Caribbean Sea. For your own convenience is meters away from this attraction. Gears: 5.00 CUC/person.</h4>
                                        <div class="border-bottom"></div>
                                    </div>
                                </div>
                            </li>
                            </br>
                            <li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
                                <div class="item">
                                    <div class="item-title" style="text-align:justify;">
                                        <h4>•	Drive back to Havana.</h4>
                                        <div class="border-bottom"></div>
                                    </div>
                                </div>
                            </li>


                        </ul>
                     
                    </div>
                </div>
            </div><!-- .col-md-12 close -->
        </div><!-- .row close -->

    </section><!-- #blog close -->
<!--
maps start
============================== -->
<section id="about-us">
    <div class="container">
        <div class="row">
                <div class="block">
                     <div class="col-md-12 text-center">
                   <iframe class="googleMaps" src="https://www.google.com/maps/d/u/0/embed?mid=1CyD_Gs9jN4xHoAS9sXHwCfPDnreZdBPM"></iframe>
                </div>
                </div>
        </div><!-- .row close -->
    </div><!-- .containe close -->
</section><!-- #call-to-action close -->
 <!--
CONTACT US  start
============================= -->
<section id="contact-us">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                        <h1 class="heading wow fadeInUp seccionTitle" data-wow-duration="500ms" data-wow-delay="300ms">CONTACT<span style=""> US</span></h1>
                    <!--  <h4 class="title wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">Sign Up for <span>Email Alerts</span> </h4>-->
                    {{ form_start(form,{'action': path('book'), 'method': 'POST'}) }}
                    <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="500ms">                        
                        {{ form_widget(form.tour, {'attr': {'class': 'form-control hidden',}, 'value':'Bay of Pigs'}) }}
                    </div>
                    <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="600ms">
                        {{ form_widget(form.fullName, {'attr': {'class': 'form-control','placeholder':'Full Name'}}) }}
                    </div>
                    <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="800ms">
                        {{ form_widget(form.email, {'attr': {'class': 'form-control','placeholder':'Email Address'}}) }}
                    </div>
                    <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="600ms">
                        {{ form_widget(form.pax, {'attr': {'class': 'form-control','placeholder':'Number of People'}}) }}
                    </div>
                    <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="800ms">
                        {{ form_widget(form.date, {'attr': {'class': 'form-control','placeholder':'Request Date'}}) }}
                    </div>
                    <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="1000ms">
                        {{ form_widget(form.additionalRequest, {'attr': {'class': 'form-control','rows': '3','placeholder':'Additional Requests'}}) }}
                    </div>
                    <div class="g-recaptcha" data-sitekey="6Ldq7I0UAAAAAMqzGIpRI5ZgmKiP_9usBvibEXPP" data-callback="enableBtn"></div>
                    <input type='submit' class="btn btn-default wow bounceIn btn-submit text-center" data-wow-duration="500ms" data-wow-delay="1300ms" value="Send Now" />
                    {{ form_end(form) }}
                </div>
            </div><!-- .col-md-12 close -->
        </div><!-- .row close -->
    </div><!-- .container close -->
</section><!-- #contact-us close -->
{% endblock %}
{% block scripts %}
<script>
    $(document).ready(function () {
        $('.btn-submit').addClass('disabled');
    });
    function enableBtn(){
        $('.btn-submit').removeClass('disabled');
    }
</script>
    {% endblock %}