{% extends 'base.html.twig' %}
{% block body %}
<!--
    blog start
    ============================ -->
    <section id="blog" style="background: url({{asset('images/discHavana/fromOurKitchen/blog-bg.jpg')}}); ">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                
                    <h1 class="heading transparence-title seccionTitle">“From our <span> kitchen” </span>  <span></span></h1>
                    
                   
                    <!--
                    Slider start
                    ============================== -->
                    <section id="slider">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="block wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">

                                        <div id="owl-example" class="owl-carousel">
                                            <div>
                                                <img class="img-responsive" src="{{asset('images/discHavana/fromOurKitchen/slider/slider-img-1.jpg')}}" alt="">
                                            </div>
                                            <div>
                                                <img class="img-responsive" src="{{asset('images/discHavana/fromOurKitchen/slider/slider-img-2.jpg')}}" alt="">
                                            </div>
                                            <div>
                                                <img class="img-responsive" src="{{asset('images/discHavana/fromOurKitchen/slider/slider-img-3.jpg')}}" alt="">
                                            </div>
                                            <div>
                                                <img class="img-responsive" src="{{asset('images/discHavana/fromOurKitchen/slider/slider-img-4.jpg')}}" alt="">
                                            </div>
                                            <div>
                                                <img class="img-responsive" src="{{asset('images/discHavana/fromOurKitchen/slider/slider-img-5.jpg')}}" alt="">
                                            </div>
                                             <div>
                                                <img class="img-responsive" src="{{asset('images/discHavana/fromOurKitchen/slider/slider-img-6.jpg')}}" alt="">
                                            </div>
                                             <div>
                                                <img class="img-responsive" src="{{asset('images/discHavana/fromOurKitchen/slider/slider-img-7.jpg')}}" alt="">
                                            </div>
                                             <div>
                                                <img class="img-responsive" src="{{asset('images/discHavana/fromOurKitchen/slider/slider-img-8.jpg')}}" alt="">
                                            </div>
                                             <div>
                                                <img class="img-responsive" src="{{asset('images/discHavana/fromOurKitchen/slider/slider-img-9.jpg')}}" alt="">
                                            </div>
                                             <div>
                                                <img class="img-responsive" src="{{asset('images/discHavana/fromOurKitchen/slider/slider-img-10.jpg')}}" alt="">
                                            </div>
                                             
                                        </div>
                                    </div>
                                </div><!-- .col-md-12 close -->
                            </div><!-- .row close -->
                        </div><!-- .container close -->
                    </section><!-- slider close -->

   <h4 class="wow fadeInUp  white_text item-title" data-wow-duration="300ms" data-wow-delay="300ms">This is a tour designed for food lovers, interested in new flavors and recipes to impress family and friends back home. Make of Cuban Cuisine your own.</h4>
                        <br/>

                   
                    <div class="pricing-list white_text">

                        <ul>
                            <li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
                                <div class="item">
                                    <div class="item-title" style="text-align:justify;">
                                        <h4 class="seccionTexts">•	Pick up recommended at 9:30 am.</h4>
                                        <div class="border-bottom"></div>
                                    </div>
                                </div>
                            </li>
                            </br>
                            <li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
                                <div class="item">
                                    <div class="item-title" style="text-align:justify;">
                                        <h4 class="seccionTexts">•	Drive to Restaurant Ajíaco Café where the owners welcome and invite you to start this gastronomic experience at their garden where you can find and try different aromatic herbs and vegetables that will be used afterwards in their kitchen. </h4>
                                        <div class="border-bottom"></div>
                                    </div>
                                </div>
                            </li>
                            </br>
                            <li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
                                <div class="item">
                                    <div class="item-title" style="text-align:justify;">
                                        <h4 class="seccionTexts">•   Ready now! Step to it! Once you meet the staff they will start giving you directions to elaborate three very popular main courses of Cuban Cuisine: shredded beef and lobster or shrimp enchilada depending on the catch of the day.</h4>
                                        <div class="border-bottom"></div>
                                    </div>
                                </div>
                            </li>
                            </br>
                            <li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
                                <div class="item">
                                    <div class="item-title" style="text-align:justify;">
                                        <h4 class="seccionTexts">•	Main chef will also be with you and will offer you tips on Ajíaco, this Cuban dish names the restaurant and will be part of your menu.</h4>
                                        <div class="border-bottom"></div>
                                    </div>
                                </div>
                            </li>
                            </br>
                            <li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
                                <div class="item">
                                    <div class="item-title" style="text-align:justify;">
                                        <h4 class="seccionTexts">•	Once food is ready to be served then it is time to refresh drinking a traditional Cuban cocktail: Mojito, but this time you will be making your own and this one will be special, no sugar but honey, no regular Cuban Rum but Aged Havana Club…this is the Ajíaco Mojito!</h4>
                                        <div class="border-bottom"></div>
                                    </div>
                                </div>
                            </li>
                            </br>
                           
                        </ul>
                        <h4 class="wow fadeInUp  white_text item-title" data-wow-duration="300ms" data-wow-delay="300ms">Table is served and we are all hungry…this is the menu:</h4><br/>
                        
                        <div class="pricing-list white_text">

                        <ul>
                            <li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
                                <div class="item">
                                    <div class="item-title" style="text-align:justify;">
                                        <h4 class="seccionTexts">•   Appetizers: vegetables empanadas, croquettes and balls of mandioca served with dips and assorted flavored bread.</h4>
                                        <div class="border-bottom"></div>
                                    </div>
                                </div>
                            </li>
                            </br>
                            <li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
                                <div class="item">
                                    <div class="item-title" style="text-align:justify;">
                                        <h4 class="seccionTexts">•   Ajíaco </h4>
                                        <div class="border-bottom"></div>
                                    </div>
                                </div>
                            </li>
                            </br>
                            <li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
                                <div class="item">
                                    <div class="item-title" style="text-align:justify;">
                                        <h4 class="seccionTexts">•   Garnishes to enjoy with main courses: rice, black beans, vegetable salad and steamed pumpkin with mojo.</h4>
                                        <div class="border-bottom"></div>
                                    </div>
                                </div>
                            </li>
                            </br>
                            <li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
                                <div class="item">
                                    <div class="item-title" style="text-align:justify;">
                                        <h4 class="seccionTexts">•   Main dishes: shredded beef, fish fillet, lobster and shrimp enchilada.</h4>
                                        <div class="border-bottom"></div>
                                    </div>
                                </div>
                            </li>
                            </br>
                            <li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
                                <div class="item">
                                    <div class="item-title" style="text-align:justify;">
                                        <h4 class="seccionTexts">•   Dessert </h4>
                                        <div class="border-bottom"></div>
                                    </div>
                                </div>
                            </li>
                            </br>
                             <li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
                                <div class="item">
                                    <div class="item-title" style="text-align:justify;">
                                       <h4 class="seccionTexts">Souvenirs for you to take home: an apron, macerator to make your own mojito at home, cigar and a certificate from Ajíaco Restaurant.</h4>
                                        <div class="border-bottom"></div>
                                    </div>
                                </div>
                            </li>
                             </br>
                            <li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
                                <div class="item">
                                    <div class="item-title" style="text-align:justify;">
                                       <h4 class="seccionTexts">After this delicious lunch and to complete this day tour experience we suggest you to explore the city and to choose: walking tour in Old Havana area or sightseeing tour? Whatever option you prefer to fulfill your program and make of this day in Havana a memorable one.</h4>
                                        <div class="border-bottom"></div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div><!-- .col-md-12 close -->
        </div><!-- .row close -->

    </section><!-- #blog close -->
    <!--
maps start
============================== -->
<section id="about-us">
    <div class="container">
        <div class="row">
                <div class="block">
                     <div class="col-md-12 text-center">
                     <iframe class="googleMaps" src="https://www.google.com/maps/d/u/0/embed?mid=1ijz3mXKwdmEzz-DzZNaHBi7JSayuYLFw"></iframe>
                </div>
                </div>
        </div><!-- .row close -->
    </div><!-- .containe close -->
</section><!-- #call-to-action close -->

    <!--
CONTACT US  start
============================= -->
<section id="contact-us">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                        <h1 class="heading wow fadeInUp seccionTitle" data-wow-duration="500ms" data-wow-delay="300ms">CONTACT<span style=""> US</span></h1>
                    <!--  <h4 class="title wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">Sign Up for <span>Email Alerts</span> </h4>-->
                    {{ form_start(form,{'action': path('book'), 'method': 'POST'}) }}
                    <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="500ms">                        
                        {{ form_widget(form.tour, {'attr': {'class': 'form-control hidden',}, 'value':'From Our Kitchen'}) }}
                    </div>
                    <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="600ms">
                        {{ form_widget(form.fullName, {'attr': {'class': 'form-control','placeholder':'Full Name'}}) }}
                    </div>
                    <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="800ms">
                        {{ form_widget(form.email, {'attr': {'class': 'form-control','placeholder':'Email Address'}}) }}
                    </div>
                    <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="600ms">
                        {{ form_widget(form.pax, {'attr': {'class': 'form-control','placeholder':'Number of People'}}) }}
                    </div>
                    <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="800ms">
                        {{ form_widget(form.date, {'attr': {'class': 'form-control','placeholder':'Request Date'}}) }}
                    </div>
                    <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="1000ms">
                        {{ form_widget(form.additionalRequest, {'attr': {'class': 'form-control','rows': '3','placeholder':'Additional Requests'}}) }}
                    </div>
                    <div class="g-recaptcha" data-sitekey="6Ldq7I0UAAAAAMqzGIpRI5ZgmKiP_9usBvibEXPP" data-callback="enableBtn"></div>
                    <input type='submit' class="btn btn-default wow bounceIn btn-submit text-center" data-wow-duration="500ms" data-wow-delay="1300ms" value="Send Now" />
                    {{ form_end(form) }}
                </div>
            </div><!-- .col-md-12 close -->
        </div><!-- .row close -->
    </div><!-- .container close -->
</section><!-- #contact-us close -->
{% endblock %}
{% block scripts %}
<script>
    $(document).ready(function () {
        $('.btn-submit').addClass('disabled');
    });
    function enableBtn(){
        $('.btn-submit').removeClass('disabled');
    }
</script>
    {% endblock %}