{% extends 'base.html.twig' %}
{% block body %}
<!--
    blog start
    ============================ -->
    <section id="blog" style="background: url({{asset('images/discHavana/havanaT/blog-bg.jpg')}}); ">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="heading transparence-title"> <span>“Havana True Stories” </span>  <span></span></h1>
                   
                   
                    <!--
                    Slider start
                    ============================== -->
                    <section id="slider">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="block wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">

                                        <div id="owl-example" class="owl-carousel">
                                            <div>
                                                <img class="img-responsive" src="{{asset('images/discHavana/havanaT/slider/slider-img-1.jpg')}}" alt="">
                                            </div>
                                            <div>
                                                <img class="img-responsive" src="{{asset('images/discHavana/havanaT/slider/slider-img-2.jpg')}}" alt="">
                                            </div>
                                            <div>
                                                <img class="img-responsive" src="{{asset('images/discHavana/havanaT/slider/slider-img-3.jpg')}}" alt="">
                                            </div>
                                            <div>
                                                <img class="img-responsive" src="{{asset('images/discHavana/havanaT/slider/slider-img-4.jpg')}}" alt="">
                                            </div>
                                            <div>
                                                <img class="img-responsive" src="{{asset('images/discHavana/havanaT/slider/slider-img-5.jpg')}}" alt="">
                                            </div>
                                            <div>
                                                <img class="img-responsive" src="{{asset('images/discHavana/havanaT/slider/slider-img-6.jpg')}}" alt="">
                                            </div>
                                            <div>
                                                <img class="img-responsive" src="{{asset('images/discHavana/havanaT/slider/slider-img-7.jpg')}}" alt="">
                                            </div>
                                            <div>
                                                <img class="img-responsive" src="{{asset('images/discHavana/havanaT/slider/slider-img-8.jpg')}}" alt="">
                                            </div>
                                            <div>
                                                <img class="img-responsive" src="{{asset('images/discHavana/havanaT/slider/slider-img-9.jpg')}}" alt="">
                                            </div>
                                            <div>
                                                <img class="img-responsive" src="{{asset('images/discHavana/havanaT/slider/slider-img-10.jpg')}}" alt="">
                                            </div>
                                            <div>
                                                <img class="img-responsive" src="{{asset('images/discHavana/havanaT/slider/slider-img-11.jpg')}}" alt="">
                                            </div>
                                            <div>
                                                <img class="img-responsive" src="{{asset('images/discHavana/havanaT/slider/slider-img-12.jpg')}}" alt="">
                                            </div>
                                           

                                        </div>
                                    </div>
                                </div><!-- .col-md-12 close -->
                            </div><!-- .row close -->
                        </div><!-- .container close -->
                    </section><!-- slider close -->

                    <div class="pricing-list white_text">

                        <ul>

                            <li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
                                <div class="item">
                                    <div class="item-title" style="text-align:justify;">
                                        <h3>•	Pick up time recommended at 7:30am.</h3>
                                        <div class="border-bottom"></div>
                                        <!-- <span>Day 1</span>-->
                                    </div>
                                    <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim&&</p>-->
                                </div>
                            </li>
                            </br>
                            <li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="400ms">
                                <div class="item">
                                    <div class="item-title" style="text-align:justify;">
                                        <h3>•	Pick up recommended at 9:00 am.</h3>
                                        <div class="border-bottom"></div>
                                    </div>
                                </div>
                            </li>
                            </br>
                            <li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="500ms">
                                <div class="item">
                                    <div class="item-title" style="text-align:justify;">
                                        <h3>•	Starting with a walking tour around Old Havana area, visiting important landmarks like Saint Francis of Assisi Square, Arms Square, Old Square and Cathedral Square, El Floridita bar, La Bodeguita del Medio bar, Hotel Ambos Mundos (Ernest Hemingway´s regular bars and hotel in Old Havana).</h3>
                                        <div class="border-bottom"></div>
                                    </div>
                                </div>
                            </li>
                            </br>
                            <li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="600ms">
                                <div class="item">
                                    <div class="item-title" style="text-align:justify;">
                                        <h3>•	Optional lunch. Our suggestion to try a Cuban typical food restaurant of your choice.</h3>
                                        <div class="border-bottom"></div>
                                    </div>
                                </div>
                            </li>
                            </br>
                            <li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="700ms">
                                <div class="item">
                                    <div class="item-title" style="text-align:justify;">
                                        <h3>•	Enjoy of the surroundings of the Morro-Cabaña fortresses complex and Christ Statue.</h3>
                                        <div class="border-bottom"></div>
                                    </div>
                                </div>
                            </li>
                            </br>
                            <li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="800ms">
                                <div class="item">
                                    <div class="item-title" style="text-align:justify;">
                                        <h3>•	Panoramic tour through the popular seafront avenue known as “Malecón” and enjoy of sites of interest like Revolution Square, Central Park, Opera House, Capitol building, former Bacardi Building and Museum of the Revolution, former Presidential Palace. Optional stops for pictures.</h3>
                                        <div class="border-bottom"></div>
                                    </div>
                                </div>
                            </li>
                            </br>
                            <li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="900ms">
                                <div class="item">
                                    <div class="item-title" style="text-align: justify;">
                                        <h3>• This tour includes 30 minutes ride in a classic convertible car.</h3>
                                        <div class="border-bottom"></div>
                                    </div>
                                </div>
                            </li>
                            </br>
                            <li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="1000ms">
                                <div class="item">
                                    <div class="item-title" style="text-align:justify;">
                                        <h3>•	Drive back to your accommodation.</h3>
                                        <div class="border-bottom"></div>
                                    </div>
                                </div>
                            </li>


                        </ul>
                         </br>
                        <h3 class="wow fadeInUp  white_text transparence-title" data-wow-duration="300ms" data-wow-delay="1100ms">Optional visits for you to consider as part of this day tour are: Havana Club Rum Museum (admission fee: 7.00 CUC/person), Cigar factory (admission fee: 10.00 CUC/person), Columbus Cemetery (admission fee: 5.00 CUC/person) and free time at a flea market.</h3>
                        </br>
                         <a class="btn btn-default pull-right orange wow bounceIn" data-wow-duration="500ms" data-wow-delay="1200ms" href="#" role="button">More Info</a>
                    </div>
                </div>
            </div><!-- .col-md-12 close -->
        </div><!-- .row close -->

    </section><!-- #blog close -->
{% endblock %}