{% extends 'base.html.twig' %}
{% block body %}


    <!--
    blog start
    ============================ -->
    <section id="blog" style="background: url({{asset('images/discHavana/blog-bg.jpg')}}); ">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <h1 class="heading transparence-title seccionTitle">DISCOVERING <span> HAVANA</span>  <span></span></h1><br/>
                        <h4 class="white_text title wow fadeInLeft item-title" data-wow-duration="500ms" data-wow-delay="300ms" style="text-align:justify;">Havana 500th Anniversary is coming soon and this city holds a real fascination for those planning to visit our country, no faded glory in this city, past and present are the perfect combination and this fine cocktail is part of its appeal for travelers. </h4>


                        <ul class="col-md-12">
                            <li class="wow fadeInLeft " data-wow-duration="300ms" data-wow-delay="300ms">
                                <div class="blog-img">
                                    <a class="btn btn-img" href="{{path('havana-true-stories')}}" role="button"> <img src="{{asset('images/discHavana/blog-img-1.jpg')}}" alt="blog-img"></a>
                                </div>
                                <div class="content-right">
                                    <h3>“Havana True Stories”</h3>
                                    <p>
                                        <a class="btn btn-default orange wow bounceIn" data-wow-duration="500ms" data-wow-delay="300ms" href="{{path('havana-true-stories')}}" role="button">More Info</a>
                                    </p>
                                </div>
                            </li>
                            <li class="wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="300ms">
                                <div class="blog-img">
                                   <a class="btn btn-img"  href="{{path('oldman-havana')}}" role="button"><img src="{{asset('images/discHavana/blog-img-2.jpg')}}" alt="blog-img"></a>
                                </div>
                                <div class="content-right">
                                    <h3>“Old Man & Havana”</h3>
                                    <p>
                                        <a class="btn btn-default orange  wow bounceIn" data-wow-duration="500ms" data-wow-delay="300ms" href="{{path('oldman-havana')}}" role="button">More Info</a>
                                    </p>
                                </div>
                            </li>
                            <li class="wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="300ms">
                                <div class="blog-img">
                                    <a class="btn btn-img" href="{{path('my-blue-havana')}}" role="button"> <img src="{{asset('images/discHavana/blog-img-3.jpg')}}" alt="blog-img"></a>
                                </div>
                                <div class="content-right">
                                    <h3>“My Blue Havana”</h3>
                                    <p>
                                        <a class="btn btn-default orange  wow bounceIn" data-wow-duration="500ms" data-wow-delay="300ms" href="{{path('my-blue-havana')}}" role="button">More Info</a>
                                    </p>
                                </div>
                            </li>
                            <li class="wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="300ms">
                                <div class="blog-img">
                                   <a class="btn btn-img" href="{{path('havana-all-times')}}" role="button"><img src="{{asset('images/discHavana/blog-img-4.jpg')}}" alt="blog-img"></a>
                                </div>
                                <div class="content-right">
                                    <h3>“Havana All Times”</h3>
                                    <p>
                                        <a class="btn btn-default orange  wow bounceIn" data-wow-duration="500ms" data-wow-delay="300ms" href="{{path('havana-all-times')}}" role="button">More Info</a>
                                    </p>
                                </div>
                            </li>
                             <li class=" col-md-offset-3 wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="400ms">
                            <div class="blog-img">
                                <a class="btn btn-img" href="{{ path('from-our-kitchen') }}" role="button">  <img src="{{ asset('images/blog/blog-img-5.jpg') }}" alt="blog-img"></a>
                            </div>
                            <div class="content-right">
                                <h3>“From our kitchen”</h3>
                                <p><a class="btn btn-default orange wow bounceIn" data-wow-duration="500ms" data-wow-delay="1200ms" href="{{ path('from-our-kitchen') }}" role="button">More Info</a></p>
                            </div>
                        </li>
            
                        </ul>
                    </div>
                </div><!-- .col-md-12 close -->
            </div><!-- .row close -->
        </div><!-- .containe close -->
    </section><!-- #blog close -->
    <!--
CONTACT US  start
============================= -->
<section id="contact-us">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1 class="heading wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">CONTACT<span style=""> US</span></h1>
                    <!--  <h3 class="title wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">Sign Up for <span>Email Alerts</span> </h3>-->
                    {{ form_start(form,{'action': path('book'), 'method': 'POST'}) }}
                    <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="500ms">                        
                        {{ form_widget(form.tour, {'attr': {'class': 'form-control',}}) }}
                    </div>
                    <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="600ms">
                        {{ form_widget(form.fullName, {'attr': {'class': 'form-control','placeholder':'Full Name'}}) }}
                    </div>
                    <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="800ms">
                        {{ form_widget(form.email, {'attr': {'class': 'form-control','placeholder':'Email Address'}}) }}
                    </div>
                    <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="600ms">
                        {{ form_widget(form.pax, {'attr': {'class': 'form-control','placeholder':'Number of People'}}) }}
                    </div>
                    <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="800ms">
                        {{ form_widget(form.date, {'attr': {'class': 'form-control','placeholder':'Request Date'}}) }}
                    </div>
                    <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="1000ms">
                        {{ form_widget(form.additionalRequest, {'attr': {'class': 'form-control','rows': '3','placeholder':'Additional Requests'}}) }}
                    </div>
                    <div class="g-recaptcha" data-sitekey="6Ldq7I0UAAAAAMqzGIpRI5ZgmKiP_9usBvibEXPP" data-callback="enableBtn"></div>
                    <input type='submit' class="btn btn-default wow bounceIn btn-submit text-center" data-wow-duration="500ms" data-wow-delay="1300ms" value="Send Now" />
                    {{ form_end(form) }}
                </div>
            </div><!-- .col-md-12 close -->
        </div><!-- .row close -->
    </div><!-- .container close -->
</section><!-- #contact-us close -->
{% endblock %}
{% block scripts %}
<script>
    $(document).ready(function () {
        $('.btn-submit').addClass('disabled');
    });
    function enableBtn(){
        $('.btn-submit').removeClass('disabled');
    }
</script>
    {% endblock %}