{% extends 'base.html.twig' %}
{% block body %}


    <!--
    blog start
    ============================ -->
    <section id="blog" style="background: url({{asset('images/discHavana/blog-bg.jpg')}}); ">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <h1 class="heading transparence-title">DISCOVERING <span> HAVANA</span>  <span></span></h1>
                        <h3 class="white_text title wow fadeInLeft " data-wow-duration="500ms" data-wow-delay="300ms">Duracion  <span>0:00:00</span> </h3>

                        <ul class="col-md-12">
                            <li class="wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="300ms">
                                <div class="blog-img">
                                    <img src="{{asset('images/discHavana/blog-img-1.jpg')}}" alt="blog-img">
                                </div>
                                <div class="content-right">
                                    <h3>“Havana True Stories”</h3>
                                    <p>
                                        <a class="btn btn-default orange wow bounceIn" data-wow-duration="500ms" data-wow-delay="1200ms" href="{{path('havana-true-stories')}}" role="button">More Info</a>
                                    </p>
                                </div>
                            </li>
                            <li class="wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="400ms">
                                <div class="blog-img">
                                    <img src="{{asset('images/discHavana/blog-img-2.jpg')}}" alt="blog-img">
                                </div>
                                <div class="content-right">
                                    <h3>“Old Man & Havana”</h3>
                                    <p>
                                        <a class="btn btn-default orange  wow bounceIn" data-wow-duration="500ms" data-wow-delay="1200ms" href="{{path('oldman-havana')}}" role="button">More Info</a>
                                    </p>
                                </div>
                            </li>
                            <li class="wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="500ms">
                                <div class="blog-img">
                                    <img src="{{asset('images/discHavana/blog-img-3.jpg')}}" alt="blog-img">
                                </div>
                                <div class="content-right">
                                    <h3>“My Blue Havana”</h3>
                                    <p>
                                        <a class="btn btn-default orange  wow bounceIn" data-wow-duration="500ms" data-wow-delay="1200ms" href="{{path('my-blue-havana')}}" role="button">More Info</a>
                                    </p>
                                </div>
                            </li>
                            <li class="wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="600ms">
                                <div class="blog-img">
                                    <img src="{{asset('images/discHavana/blog-img-4.jpg')}}" alt="blog-img">
                                </div>
                                <div class="content-right">
                                    <h3>“Havana All Times”</h3>
                                    <p>
                                        <a class="btn btn-default orange  wow bounceIn" data-wow-duration="500ms" data-wow-delay="1200ms" href="{{path('havana-all-times')}}" role="button">More Info</a>
                                    </p>
                                </div>
                            </li>
            
                        </ul>
                    </div>
                </div><!-- .col-md-12 close -->
            </div><!-- .row close -->
        </div><!-- .containe close -->
    </section><!-- #blog close -->
   

{% endblock %}