{% extends 'base.html.twig' %}
{% block body %}


    <!--
    blog start
    ============================ -->
    <section id="blog" style="background: url({{asset('images/onTheRoad/blog-bg.jpg')}}); ">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="heading transparence-title"> <span>“On the road ” </span> <p class="white_text"> 7 days Round Trip Program</p>  <span></span></h1><br/>
                    <h4 class="white_text title wow fadeInLeft transparence-title" data-wow-duration="500ms" data-wow-delay="300ms" style="text-align:justify;">If you are the adventurer type and prefer to make the most of your time, then this is the right choice for you. This program can be adjusted to your stay, shorter or longer. For a more authentic experience, your time on the road will be all about you enjoying of our true colors and experience it first-hand.</h4>
                   
                    <!--
                    Slider start
                    ============================== -->
                    <section id="slider">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="block wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">

                                        <div id="owl-example" class="owl-carousel">
                                            <div>
                                                <img class="img-responsive" src="{{asset('images/onTheRoad/slider/slider-img-1.jpg')}}" alt="">
                                            </div>
                                            <div>
                                                <img class="img-responsive" src="{{asset('images/onTheRoad/slider/slider-img-2.jpg')}}" alt="">
                                            </div>
                                            <div>
                                                <img class="img-responsive" src="{{asset('images/onTheRoad/slider/slider-img-3.jpg')}}" alt="">
                                            </div>
                                            <div>
                                                <img class="img-responsive" src="{{asset('images/onTheRoad/slider/slider-img-4.jpg')}}" alt="">
                                            </div>
                                            <div>
                                                <img class="img-responsive" src="{{asset('images/onTheRoad/slider/slider-img-5.jpg')}}" alt="">
                                            </div>
                                            <div>
                                                <img class="img-responsive" src="{{asset('images/onTheRoad/slider/slider-img-6.jpg')}}" alt="">
                                            </div>
                                            <div>
                                                <img class="img-responsive" src="{{asset('images/onTheRoad/slider/slider-img-7.jpg')}}" alt="">
                                            </div>
                                            <div>
                                                <img class="img-responsive" src="{{asset('images/onTheRoad/slider/slider-img-8.jpg')}}" alt="">
                                            </div>
                                            <div>
                                                <img class="img-responsive" src="{{asset('images/onTheRoad/slider/slider-img-9.jpg')}}" alt="">
                                            </div>
                                            <div>
                                                <img class="img-responsive" src="{{asset('images/onTheRoad/slider/slider-img-10.jpg')}}" alt="">
                                            </div>
                                            <div>
                                                <img class="img-responsive" src="{{asset('images/onTheRoad/slider/slider-img-11.jpg')}}" alt="">
                                            </div>
                                            <div>
                                                <img class="img-responsive" src="{{asset('images/onTheRoad/slider/slider-img-12.jpg')}}" alt="">
                                            </div>
                                            <div>
                                                <img class="img-responsive" src="{{asset('images/onTheRoad/slider/slider-img-13.jpg')}}" alt="">
                                            </div>
                                            <div>
                                                <img class="img-responsive" src="{{asset('images/onTheRoad/slider/slider-img-14.jpg')}}" alt="">
                                            </div>
                                            <div>
                                                <img class="img-responsive" src="{{asset('images/onTheRoad/slider/slider-img-15.jpg')}}" alt="">
                                            </div>
                                            <div>
                                                <img class="img-responsive" src="{{asset('images/onTheRoad/slider/slider-img-16.jpg')}}" alt="">
                                            </div>
                                            <div>
                                                <img class="img-responsive" src="{{asset('images/onTheRoad/slider/slider-img-17.jpg')}}" alt="">
                                            </div>
                                            <div>
                                                <img class="img-responsive" src="{{asset('images/onTheRoad/slider/slider-img-18.jpg')}}" alt="">
                                            </div>
                                            <div>
                                                <img class="img-responsive" src="{{asset('images/onTheRoad/slider/slider-img-19.jpg')}}" alt="">
                                            </div>
                                         
                                        </div>
                                    </div>
                                </div><!-- .col-md-12 close -->
                            </div><!-- .row close -->
                        </div><!-- .container close -->
                    </section><!-- slider close -->

                    <div class="pricing-list white_text">

                        <ul>

                            <li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
                                <div class="item">
                                    <div class="item-title" style="text-align:justify;">
                                        <h4>•	Day 1. Welcome at the airport or cruise terminal upon your arrival. Depending on your arrival time, local guide will make suggestions to start your Cuban experience including <a href="{{path('havana-all-times')}}">night options</a>. Sleep in Havana.</h4>
                                        <div class="border-bottom"></div>
                                        <!-- <span>Day 1</span>-->
                                    </div>
                                    <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim&&</p>-->
                                </div>
                            </li>
                            </br>
                            <li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
                                <div class="item">
                                    <div class="item-title" style="text-align:justify;">
                                        <h4>•	Day 2. Drive to <a  href="{{path('viñales')}}">Viñales</a> to put you closer to one of the worldwide known Cuban traditions, growing the highest quality black tobacco in the world is the first step to produce Cuban cigars. Also enjoy of local landscape, Viñales Valley declared by UNESCO a World Heritage Landscape, along with visits to caves in the area and free time in the small town. At the end of the proposed itinerary, we will drive back to Havana. Sleep in Havana.</h4>
                                        <div class="border-bottom"></div>
                                    </div>
                                </div>
                            </li>
                            </br>
                            <li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
                                <div class="item">
                                    <div class="item-title" style="text-align:justify;">
                                        <h4>•	Day 3.  Havana city tour. To discover Havana True Colors, we recommend you to start your day in the city with wide open eyes…no rush, no protocol. All landmarks in the city will be part of your day but there is so much more. We can show you the city…but we aim you to feel it, to be part of it and live it up! We´ll help you to understand Cuban reality from our local perspective. Sleep in Havana.</h4>
                                        <div class="border-bottom"></div>
                                    </div>
                                </div>
                            </li>
                            </br>
                            <li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
                                <div class="item">
                                    <div class="item-title" style="text-align:justify;">
                                        <h4>•	Day 4. Early departure recommended to drive to Central Cuba. First stop at Parque Nacional Cienaga de Zapata. Take advantage of the rich combination of history and nature in this destination, discover details of <a href="{{path('zapata')}}">Bay of Pigs</a> invasion and enjoy of attractions like Guama, Crocodile Breeding Farm, swimming and snorkeling in Caribbean Sea. Continuing the experience, we will be heading southeast to <a href="{{path('trinidad')}}">Cienfuegos</a> City. Stop at the main square and foundation site Parque Martí and surroundings, walk the city boulevard, drive to Punta Gorda and stop at Palacio del Valle. Drive to Trinidad. Sleep in Trinidad.</h4>
                                        <div class="border-bottom"></div>
                                    </div>
                                </div>
                            </li>
                            </br>
                            <li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
                                <div class="item">
                                    <div class="item-title" style="text-align:justify;">
                                        <h4>•	Day 5. Touring around historical center in <a href="{{path('trinidad')}}">Trinidad</a> will be an enjoyable experience for you, feeling like you have travel back in time. Recently declared by UNESCO <a href="{{path('trinidad')}}">Ciudad Artesanal</a> , is possible for those handicraft lovers to spend long hours checking options not only at the local market but in local houses, whose owners will open their homes and let you in as their guests. As optional activities, not included, you might be interested in taking a jeep or horseback ride to the waterfalls located in Parque Nacional Topes de Collantes. Sleep in Trinidad.</h4>
                                        <div class="border-bottom"></div>
                                    </div>
                                </div>
                            </li>
                            </br>
                            <li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
                                <div class="item">
                                    <div class="item-title" style="text-align:justify;">
                                        <h4>•	Day 6. Early departure and drive to Valle de los Ingenios, stop at Torre Manaca Iznaga. At Santa Clara, we will visit Che Guevara Mausoleum and Memorial. Driving back to Havana stop at National Motorway for lunch at a typical Cuban restaurant (meal included in the price). Sleep in Havana</h4>
                                        <div class="border-bottom"></div>
                                    </div>
                                </div>
                            </li>
                            </br>
                            <li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
                                <div class="item">
                                    <div class="item-title" style="text-align:justify;">
                                        <h4>•	Day 7. Transfer out to the airport or cruise terminal.</h4>
                                        <div class="border-bottom"></div>
                                    </div>
                                </div>
                            </li>
                            </br>
          
                        </ul>

                        <h4 class="wow fadeInUp  white_text transparence-title" data-wow-duration="300ms" data-wow-delay="300ms">Inclusions:</h4>

                        </br>
                        <ul>

                            <li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
                                <div class="item">
                                    <div class="item-title" style="text-align:justify;">
                                        <h5>1.	6 nights´ accommodation at B&B homestay including breakfast.</h5>
                                        <div class="border-bottom"></div>
                                        <!-- <span>Day 1</span>-->
                                    </div>
                                    <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim&&</p>-->
                                </div>
                            </li>
                            </br>
                            <li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
                                <div class="item">
                                    <div class="item-title" style="text-align:justify;">
                                        <h5>2.	Service of transportation and local guide for the entire described program and one night in Havana at your disposal.</h5>
                                        <div class="border-bottom"></div>
                                    </div>
                                </div>
                            </li>
                            </br>
                            <li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
                                <div class="item">
                                    <div class="item-title" style="text-align:justify;">
                                        <h5>3.	One-hour drive in a convertible classic car in Havana at the time of your preference (day or night).</h5>
                                        <div class="border-bottom"></div>
                                    </div>
                                </div>
                            </li>
                            </br>
                            <li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
                                <div class="item">
                                    <div class="item-title" style="text-align:justify;">
                                        <h5>4.	Courtesy of a combination of two bottles of aged Cuban rum and 5 hours’ internet service using Wi-Fi cards.</h5>
                                        <div class="border-bottom"></div>
                                    </div>
                                </div>
                            </li>
                            </br>
                           
                        </ul>
                    </div>
                </div>
            </div><!-- .col-md-12 close -->
        </div><!-- .row close -->

    </section><!-- #blog close -->
{% endblock %}